.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.table-container {
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}

tr {
  line-height: 40px;
}

td {
  font-weight: 600;
}
table {
  border-collapse: separate;
  border-spacing: 2rem;
}

@media (max-width: 650px) {
  table {
    border-spacing: 1rem;
  }
  tr {
    line-height: 60px;
  }
}

@media (max-width: 500px) {
  table {
    border-collapse: collapse;
    border-spacing: 0.01rem;
  }
  tr {
    line-height: 50px;
  }
}
